*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #ecebda;
  display: grid;
  place-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 12%;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 100vh;
    top: 0;
  }
}

.container {
  margin-left: -50%;
}

.title {
  font-family: 'Six Caps', sans-serif;
  font-size: 10rem;
  line-height: 10.5rem;
  pointer-events: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 3px;
    background: #000;
    left: -15%;
    top: 15%;
  }

  .title-2,
  .title-3 {
    position: relative;
    z-index: 2;
  }
}

p {
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 1.5rem;
  margin-top: 2em;
}

.waterbg {
  position: absolute;
  width: 30%;
  height: 100vh;
  z-index: -1;
  background-color: #dcdbc9;
  right: 0;
}
